<div class="profilecontainer">
	<div class="profilephoto">
		<%= image_tag(@user.image.url(:small), :width => "230") if defined?(@user.image) %>
	</div>
	<div class="profilepic">
		<%= form_for @user do |f| %>
			<%= f.file_field :image %>
			<%= f.submit "go mofo" %>
		<% end %>
	</div>
	<table class="favourited_pics">dfhtrhrt</table>
</div>

