<div class="maincontainer" id="masonry-container" class="clearfix">
	<% @attachments.each do |i| %>
		<div class="box col3 item">
			<div class="favourites_button">Favourites
			</div>
				<%= link_to "#{i.attachment.url(:original)}", :rel => "shadowbox", :class => "divbox" do %>
					<%= image_tag(i.attachment.url(:medium), data: {"lightbox" => i.id}) %>
					<% if defined?(i.title) && !i.title.blank? %>
						<div class="caption"><%= i.title %></div>
					<% end %>
				<% end %>
		</div>
	<% end %>
</div>