/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require 'masonry/basic'
 */
 
 @import 'divbox';
 
body{ 
	margin: 0;
	padding: 0;
	background-image: url("blackbackground.jpg");
	-webkit-background-size: cover;
	   -moz-background-size: cover;
         -o-background-size: cover;
    background-size: cover;
	font-family: Arial, Helvetica, sans-serif;
}

/* ----------- Top Navigation Bar --------------*/
.topnavbar{
	display: block;
	background-color: #000;
	height: 100px;
	color: #fff;
	border-width: 5px;
	text-align: center;
}
/*----------- Sub Navigation Bar --------------*/
.subnav{
	display: block;
	background-color: #fff;
	height: 30px;
	text-align: center;
	margin: 0px;
	padding: 0px;
}
table .subbuttons tr td{
	display: inline-block;
	margin: 0px auto 0px auto;
}
/*---------------- Subnav Links ------------------*/
.subnav a{
	display: inline-block;
	background-color: #ff895c;
	color: #fff;
	font-size: 15px;
	text-decoration: none;
	padding: 0px 20px 0px 20px;
	line-height: 30px;
	font-weight: bold;
	margin: 0px auto 0px auto;
	transition: color 0.2s ease;
}
.subnav a:hover{
	color: #ff0;
}
/*----------- Main Content Area -----------------*/
.maincontainer{
	display: block;
	margin: 0px auto 0px auto;
}

#fit-width .masonry {
  margin: 0 auto;
}

.item {}
.item:hover .caption { bottom: 0px; opacity: 0.8; }

.item a { position: relative; overflow: hidden; display: block;}
.item a .caption {
	position: absolute;
	bottom: -30px; 
	width: 100%;
	background: #000;
	color: #fff;
	opacity: 0;
	padding: 10px;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	margin: 0;
	transition: opacity 0.2s ease, bottom 0.2s ease;
	-webkit-box-sizing: border-box;
	   -moz-boz-sizing: border-box;
			box-sizing: border-box;
}

/*---------------- Top Nav Buttons -------------*/
.topnavbar a{
	display: inline-block;
	background-color: #ff895c;
	color: #fff;
	padding: 10px;
	border-radius: 2px;
	text-decoration: none;
	font-weight: bold;
	font-size: 15px;
	margin: 35px 10px 0 10px;
}
.topnavbar a:hover{
	background: #000;
	color: #fff;
}
.topnavbar a.sign_in		{ float: left; }
.topnavbar a.sign_up		{ float: left; }
.topnavbar a.sign_out	{ float: left; }
.topnavbar a.upload		{ float: right; }
.topnavbar a.profile         { float: left; }
.topnavbar a.home               { float: left; }


/*------------- Overlay ---------------*/
#lean_overlay{
	position: fixed;
	z-index: 100;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: #000;
	display: none;
}
#lean_overlay:hover { cursor: pointer; }

.modal {
	display: none;
	width: 300px;
	background: #9e6ba7;
	font-size: 12px;
	text-align: center;
	padding: 20px;
	border-radius: 5px 5px 5px 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
/*------------- Favourites Button -----------*/
.favourites_button a{
	display: inline-block;
	background-color: #fff;
	border-radius: 5px 5px 5px 5px;
	padding: 3px 3px 3px 3px;
	margin: 5px 0 0 10px;
	height: 10px;
	width: 10px;
}
.favourites_button a:hover{
	background-color: #fff;
	color: #fff;
}